<header class="panel-header-container">
    <nav class="panel-navbar">

        <div class="panel-actions">

            <button class="icon-btn" aria-label="Notificaciones">
                <svg viewBox="0 0 24 24">
                    <path
                        d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z" />
                </svg>
            </button>

            <button class="icon-btn" aria-label="Configuración">
                <svg viewBox="0 0 24 24">
                    <path
                        d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l-.38 2.65c-.03.24.17.42.42.42h4c.25 0 .46-.18.49-.42l-.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z" />
                </svg>
            </button>

            <div class="user-avatar-wrapper" (click)="toggleDropdown($event)">
                <img src="../../../../../assets/instructores/instructor4.jpg" alt="Avatar Usuario" class="user-avatar">

                <div class="profile-dropdown" *ngIf="showDropdown" (click)="$event.stopPropagation()">

                    <div class="dropdown-header">
                        <span class="user-role">{{ modo | uppercase }}</span>
                    </div>

                    <hr class="dropdown-divider">

                    <button class="dropdown-item logout-action" (click)="emitLogout()">
                        <svg viewBox="0 0 24 24">
                            <path
                                d="M16 17v-3H9v-4h7V7l5 5-5 5M14 2a2 2 0 0 1 2 2v2h-2V4H5v16h9v-2h2v2a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9z" />
                        </svg>
                        Cerrar Sesión
                    </button>

                </div>
            </div>

        </div>

    </nav>
</header>