<aside class="sidebar">

  <div class="sidebar-brand-header">
    <div class="logo-link">
      <div class="logo-icon">
        <span class="logo-circle blue-circle"></span>
        <span class="logo-circle green-circle"></span>
      </div>
      <span class="logo-text">Shar<span class="logo-text-green">Entrenamiento</span></span>
    </div>
  </div>

  <nav class="sidebar-nav">
    <ul>
      @for (item of currentMenu; track item.path) {
      <li>
        <a [routerLink]="item.path" routerLinkActive="active">
          <svg viewBox="0 0 24 24">
            <path [attr.d]="item.icon" />
          </svg>
          {{ item.label }}
        </a>
      </li>
      }
    </ul>
  </nav>

</aside>
